div.container
  button.simon#red R
  button.simon#blue B
  button.simon#yellow Y
  button.simon#green G
  div.options
    button.start
      i.ion-power
    div.steps
      div.text 0
    button.strict easy
    div.status simon
div.footer
 p Coded by 
 a(href="https://www.freecodecamp.org/afon9" target="_blank") Rufat Alimurzaev